.git
.cursor
.env
.env.*

frontend/node_modules
frontend/dist

backend/src
backend/.mvn
backend/mvnw
backend/mvnw.cmd
backend/pom.xml
backend/target/*
!backend/target/backend-0.0.1-SNAPSHOT.jar

*.sql
!backend/src/main/resources/db/migration/*.sql

app.js
index.html
styles.css
assets
